body {
  font-family: "Inconsolata", monospace;
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  border: 1px solid black;
  margin: auto;
}

@media screen and (width >= 900px) {
  main {
    width: 40%;
  }
}

@media screen and (width >= 700px) and (width < 900px) {
  main {
    width: 60%;
  }
}


@media screen and (width >= 500px) and (width < 700px) {
  main {
    width: 70%;

  }
}


@media screen and (width <= 500px) {
  main {
    width: 99%;

  }
}